<!-- show.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ../partials/head %>

  <!-- all page specific styles go here -->
  <title>Loud Crowd</title>
  <link rel="stylesheet" type="text/css" href="/styles/show.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>
    <!-- connection to socket.IO -->
  <script src="/socket.io/socket.io.js"></script>

  <script type="text/javascript">
    var formUrl = "<%= formUrl %>";
    var method = "<%= userRating ? "PUT" : "POST" %>"
  </script>

</head>

<%
  var red = event.average();
  var blue = 255 - event.average();
%>

<body id="eventpage" style="background-color: rgb(<%=red%>,0,<%=blue%>)">

  <%- include ../partials/nav %>

  <%- include ../partials/messages %>

  <div class="container">
    <div class="sliderandtitle">
      <% var average = event.average() * 10 / 255 %>
      <h2 id="average">Average Score:<br><span><%=average.toFixed(2)%></span><br>out of 10</h2>
      <section class="eventpageslider">
        <div id="slider" data-value="<%= (userRating || {}).score || 125 %>"></div>
        <div class="sliderrating"><p><%= event.lowScore %></p><p><%= event.highScore %></p>
      </section>
      <h1 class="eventpagetitle"><%= event.eventName %></h1>
  </div>
  </div>
<body>
</html>
