<!-- show.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ../partials/head %>

  <!-- all page specific styles go here -->
  <title>Loud Crowd</title>
  <link rel="stylesheet" type="text/css" href="/styles/show.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>


</head>
<body id="eventpage">

    <script>

    var red = <%=event.average()%>;
    console.log(red);
    var blue = 255 - <%=event.average()%>;
    console.log(blue);

    $("#eventpage").css("background-color", `rgb(${red}, 0, ${blue})`);

    </script>


  <%- include ../partials/nav %>

  <div class="container">
    <h1 class="eventpagetitle"><%= event.eventName %></h1>
    <% var average = event.average() * 10 / 255 %>
    <h2 id="average"> Average Score: <%=average.toFixed(2)%> out of 10 </h2>

    <section class="eventpageslider">
      <div id="slider"></div>
      <div class="section">
        <form method="POST" action="<%= formUrl %><%= userRating && "?_method=PUT" %>" >
          <input id="score" type="hidden" name="score" value="<%= (userRating || {}).score || 10 %>" />
          <div class="sliderrating"><p><%= event.lowScore %></p><p><%= event.highScore %></p></div>
          <button type="submit" class="button"> <%= (userRating ? "Update" : "Add Your Rating") %> </button>
        </form>
      </div>
    </section>
  </div>

    <!-- connection to socket.IO -->
    <script src="/socket.io/socket.io.js"></script>
  <script>
    var socket = io.connect('https://crowd-engagement.herokuapp.com/');
    socket.on('news', function (data) {
      console.log(data);
      socket.emit('my other event', { my: 'data' });
    });

    socket.on("average", function(data){
      console.log("average: ", data);
      $("#average").text("Average Score: " + data);
    })
  </script>



<body>
</html>
