<!-- show.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ../partials/head %>

  <!-- all page specific styles go here -->
  <title>Loud Crowd</title>
  <link rel="stylesheet" type="text/css" href="/styles/show.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>


</head>
<body id="eventpage">

    <script>

    var red = <%=event.average()%>;
    console.log(red);
    var blue = 255 - <%=event.average()%>;
    console.log(blue);

    $("#eventpage").css("background-color", `rgb(${red}, 0, ${blue})`);

    </script>



  <%- include ../partials/nav %>

  <div class="container">
    <h1 class="eventpagetitle"><%= event.eventName %></h1>

    <section>
      <h3 id="average"> Average Score: <%= event.average() %> </h3>

      <h3 id="sliderValue"> Score: <%= (userRating || {}).score || 10 %> </h3>

      <div id="slider"></div>
      <div class="section">
        <form method="POST" action="<%= formUrl %><%= userRating && "?_method=PUT" %>" >
          <input id="score" type="hidden" name="score" value="<%= (userRating || {}).score || 10 %>" />
          <button type="submit" class="button"> <%= (userRating ? "Update" : "Add Your Rating") %> </button>
        </form>
      </div>
    </section>
  </div>

<body>
</html>
