<!-- profile.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>

  <%- include partials/head  %>

  <!-- all page specific styles go here -->
  <title>Loud Crowd</title>
  <link rel="stylesheet" type="text/css" href="/styles/profile.css">

</head>
<body>
  <%- include partials/nav  %>

  <div class="welcomeuser">Welcome, <%= user.username %>!</div>

  <div class="myform profileform">
    <h2>add an event</h2>
    <form method="POST" action="/events">
      <input type="text" name="eventName" class="profileinput" placeholder="event name">
      <div><input type="text" name="lowScore" class="profileinput" placeholder="not engaged">-
      <input type="text" name="highScore" class="profileinput" placeholder="very engaged"></div>
      <input type="hidden" name="owner" value="<%= user._id %>">
      <input type="number" name="rating" value="5" style="display: none;">
      <input type="submit" class="button">
    </form>
  </div>

  <table class="pastevents" id="">
    <tr class="tablelabels">
      <th>Event Name</th>
      <th>Scale</th>
      <th>Score</th>
      <th>Delete</th>
    </tr>
    <% for (let event of events) { %>
      <tr class="" data-id="<%= event._id %>">
        <th><a href="/events/<%= event._id %>" class=""><%= event.eventName %></a></th>
        <th><%= event.lowScore %> - <%= event.highScore %></th>
        <th><%= event.average() %></th>


          <!-- pencil icon to toggle update form -->
          <!-- <th><a href="javascript:void(0)" data-toggle="collapse" data-target="#update-<%= event._id %>">
            <button class="button profilebutton">update</button>
          </a></th> -->

        <!-- trash can icon to delete post -->
        <th><form action="/events/<%= event._id %>?_method=DELETE" method="POST">
          <button class="button profilebutton">delete</button>
        </form></th>

        <!-- form to update post -->
        <!-- <th><form action="/events/<%= event._id %>?_method=PUT" method="POST" id="update-<%= event._id %>" class="myform profileform">
          <input type="text" name="eventName" class="" placeholder="event name" value="<%= event.eventName %>">
          <div><input type="text" name="lowScore" class="" placeholder="not engaged" value="<%= event.lowScore %>">-
          <input type="text" name="highScore" class="" placeholder="very engaged" value="<%= event.highScore %>"></div>
          <input type="submit" value="Update" class="button">
        </form></th> -->
      </tr>
      <% } %>
  </table>






</body>
</html>
