<!-- profile.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>

  <%- include partials/head  %>

  <!-- all page specific styles go here -->
  <title>Loud Crowd</title>
  <link rel="stylesheet" type="text/css" href="/styles/profile.css">

</head>
<body>

  <%- include partials/nav  %>

  <div class="welcomeuser">Welcome, <%= user.username %>!</div>




  <input type="text" name="username" class="checkForError formdiv" placeholder="Username">
  <p class="errorMessage">Please enter a username</p>



  <div class="myform profileform">
    <h2>add an event</h2>
    <form method="POST" action="/events">
      <div>
        <input type="text" name="eventName" class="profileinput checkForError formdiv" placeholder="event name">
        <p class="errorMessage">Please enter an event</p>
      </div>
      <div>
        <divclass="formdiv">
          <input type="text" name="lowScore" class="profileinput checkForError formdiv" placeholder="not engaged">
          <p class="errorMessage">Please enter a username</p>
        </div>
        -
        <div class="formdiv">
          <input type="text" name="highScore" class="profileinput checkForError formdiv" placeholder="very engaged">
          <p class="errorMessage">Please enter a username</p>
        </div>
      </div>
      <input type="hidden" name="owner" value="<%= user._id %>">
      <input type="number" name="rating" value="5" style="display: none;">
      <input type="submit" class="button formdiv submit">
    </form>
  </div>

  <table class="pastevents" id="">
    <tr class="tablelabels">
      <th>Event Name</th>
      <th>Scale</th>
      <th>Score</th>
      <th>Delete</th>
    </tr>
    <% for (let event of events) { %>
      <tr class="" data-id="<%= event._id %>">
        <% var slug = event.eventName.split(" ").join("-");%>
        <th><a href="/events/<%=slug%>" class=""><%= event.eventName %></a></th>
        <th><%= event.lowScore %> - <%= event.highScore %></th>
        <% var average = event.average() * 10 / 255 %>
        <th><%=average.toFixed(2)%> out of 10</th>


          <!-- pencil icon to toggle update form -->
          <!-- <th><a href="javascript:void(0)" data-toggle="collapse" data-target="#update-<%= event._id %>">
            <button class="button profilebutton">update</button>
          </a></th> -->

        <!-- trash can icon to delete post -->
        <th><form action="/events/<%= event._id %>?_method=DELETE" method="POST">
          <button class="button profilebutton">delete</button>
        </form></th>

        <!-- form to update post -->
        <!-- <th><form action="/events/<%= event._id %>?_method=PUT" method="POST" id="update-<%= event._id %>" class="myform profileform">
          <input type="text" name="eventName" class="" placeholder="event name" value="<%= event.eventName %>">
          <div><input type="text" name="lowScore" class="" placeholder="not engaged" value="<%= event.lowScore %>">-
          <input type="text" name="highScore" class="" placeholder="very engaged" value="<%= event.highScore %>"></div>
          <input type="submit" value="Update" class="button">
        </form></th> -->
      </tr>
      <% } %>
  </table>






</body>
</html>
